html, body
	height: 100vh
	width: 100vw
	font-family: 'Montserrat', sans-serif

body
	background: -moz-radial-gradient(center, ellipse cover, rgba(130,130,130,1) 0%, rgba(0,0,0,1) 100%)
	background: -webkit-radial-gradient(center, ellipse cover, rgba(130,130,130,1) 0%,rgba(0,0,0,1) 100%)
	background: radial-gradient(ellipse at center, rgba(130,130,130,1) 0%,rgba(0,0,0,1) 100%)

.container
	position: relative
	height: 100%
	overflow: hidden
	margin: 0 auto
	width: 100%
	padding: 0
	display: flex
	justify-content: center
	align-items: center
	flex-wrap: wrap

	#usersContainer
		height: 95%
		transition: margin-top 1s ease 0s
		.current
			background-color: #97FF8F
	

#Menu
	position: absolute
	top: 0px
	left: 0px
	right: 0px
	z-index: 9999999
	padding: 5px


.fa
	color: white
	cursor: pointer