html, body {
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif; }

body {
  background: -moz-radial-gradient(center, ellipse cover, #828282 0%, black 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #828282 0%, black 100%);
  background: radial-gradient(ellipse at center, #828282 0%, black 100%); }

.container {
  position: relative;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .container #usersContainer {
    height: 95%;
    transition: margin-top 1s ease 0s; }
    .container #usersContainer .current {
      background-color: #97FF8F; }

#Menu {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999999;
  padding: 5px; }

.fa {
  color: white;
  cursor: pointer; }

#blackContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white; }
  #blackContainer #BlackCard, #blackContainer #DragAndDrop {
    height: 350px;
    width: 230px;
    margin: 20px;
    padding: 20px 15px 20px 15px;
    border-radius: 10px; }
  #blackContainer #BlackCard {
    word-wrap: break-word;
    background-color: #141414;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3); }
  #blackContainer #DragAndDrop {
    background-color: rgba(10, 10, 10, 0.1);
    border: 8px dashed #3c3c3c;
    padding: 0px;
    height: 320px;
    width: 230px;
    color: black; }
    #blackContainer #DragAndDrop.full {
      border: none; }

#infoGame {
  width: 100%;
  border-bottom: 1px solid rgba(200, 200, 200, 0.3) !important;
  padding: 15px;
  margin-bottom: 20px;
  color: white; }

#whiteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; }
  #whiteContainer #whitehand {
    height: 90%;
    width: 85%; }
    #whiteContainer #whitehand .whiteCard {
      word-wrap: break-word;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: all-scroll;
      transition: all 0.3s ease 0s;
      height: 320px;
      width: 230px;
      margin: 20px;
      padding: 20px 15px 20px 15px;
      background-color: white;
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3); }
      #whiteContainer #whitehand .whiteCard:nth-child(2) {
        margin-top: -230px; }
      #whiteContainer #whitehand .whiteCard:nth-child(3) {
        margin-top: -230px; }
      #whiteContainer #whitehand .whiteCard:nth-child(4) {
        margin-top: -230px; }
      #whiteContainer #whitehand .whiteCard:nth-child(5) {
        margin-top: -230px; }
      #whiteContainer #whitehand .whiteCard:hover {
        transform: translateY(-10px);
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3); }

.whiteCard {
  word-wrap: break-word;
  height: 320px;
  width: 230px;
  margin: 0px;
  padding: 20px 15px 20px 15px;
  background-color: white;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

#choice_container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: -moz-radial-gradient(center, ellipse cover, #828282 0%, black 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #828282 0%, black 100%);
  background: radial-gradient(ellipse at center, #828282 0%, black 100%); }
  #choice_container #main {
    border: 1px solid rgba(130, 130, 130, 0.5);
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%; }
    #choice_container #main #BlackCard {
      height: 350px;
      width: 230px;
      margin: 20px;
      padding: 20px 15px 20px 15px;
      border-radius: 10px;
      word-wrap: break-word;
      background-color: #141414;
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
      color: white; }
  #choice_container #choices {
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%; }
    #choice_container #choices .whiteCard {
      word-wrap: break-word;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: all 0.3s ease 0s;
      height: 220px;
      width: 200px;
      margin: 5px;
      padding: 20px 15px 20px 15px;
      background-color: white;
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3); }
      #choice_container #choices .whiteCard:hover, #choice_container #choices .whiteCard.focused {
        box-shadow: 0px 0px 10px 1px green; }

@media (max-width: 1000px) {
  #choice_container #main {
    height: 45%; }
    #choice_container #main #BlackCard {
      height: 220px !important;
      width: 200px !important; }
  #choice_container #choices {
    height: 55%; }
    #choice_container #choices .whiteCard {
      height: 220px !important;
      width: 200px !important;
      margin: 5px !important; }

  #usersContainer {
    height: auto !important;
    position: absolute;
    z-index: 9999;
    top: 5px;
    margin-top: -100%; }

  #usersContainer.show {
    margin-top: 0%; }

  #blackContainer {
    height: 60% !important; }
    #blackContainer #BlackCard, #blackContainer #DragAndDrop {
      height: 220px !important;
      width: 200px !important; }
      #blackContainer #BlackCard .whiteCard, #blackContainer #DragAndDrop .whiteCard {
        height: 220px !important;
        width: 200px !important; }

  #whiteContainer {
    height: 40% !important;
    padding: 0px; }
    #whiteContainer #whitehand {
      width: 100% !important;
      height: 100% !important;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      #whiteContainer #whitehand .whiteCard {
        height: 220px !important;
        width: 200px !important;
        margin: 0px !important; }
        #whiteContainer #whitehand .whiteCard:nth-child(4) {
          margin-top: -180px !important; }
        #whiteContainer #whitehand .whiteCard:nth-child(5) {
          margin-top: -180px !important; } }
@media (max-width: 430px) {
  #choice_container #main {
    height: 30%; }
    #choice_container #main #BlackCard {
      height: 130px !important;
      width: 130px !important;
      margin: 5px !important; }
  #choice_container #choices {
    height: 70%; }
    #choice_container #choices .whiteCard {
      height: 130px !important;
      width: 130px !important;
      margin: 5px !important; }

  #usersContainer {
    height: auto !important; }

  #blackContainer {
    height: 50% !important; }
    #blackContainer #BlackCard, #blackContainer #DragAndDrop {
      height: 130px !important;
      width: 130px !important;
      margin: 5px !important; }
      #blackContainer #BlackCard .whiteCard, #blackContainer #DragAndDrop .whiteCard {
        height: 130px !important;
        width: 130px !important; }

  #whiteContainer {
    height: 50% !important;
    padding: 0px; }
    #whiteContainer #whitehand {
      width: 100% !important;
      height: 100% !important;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      #whiteContainer #whitehand .whiteCard {
        height: 130px !important;
        width: 130px !important;
        margin: 0px !important; }
        #whiteContainer #whitehand .whiteCard:nth-child(3) {
          margin-top: -120px !important; }
        #whiteContainer #whitehand .whiteCard:nth-child(4) {
          margin-top: -120px !important; }
        #whiteContainer #whitehand .whiteCard:nth-child(5) {
          margin-top: -120px !important; } }
.model {
  display: none; }

.modal-login {
  background-color: #F2F2F2;
  border-radius: 10px;
  border: 2px solid #ABABAB;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.modal-login label {
  color: #3E3E3E; }

.header-login {
  text-align: center;
  border-bottom: 2px solid #ABABAB;
  padding: 15px;
  font-size: 1.5em; }

.container-login {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999; }

.form-login {
  padding: 15px; }

/*# sourceMappingURL=main.css.map */
