/*.container-full {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.hidden
{
    display: none;
}

.model
{
    display: none;
}

.modal-login
{
    background-color: #F2F2F2;
    border-radius: 10px;
    border: 2px solid #ABABAB;
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.modal-login label
{
    color: #3E3E3E;
}

.header-login
{
    text-align: center;
    border-bottom: 2px solid #ABABAB;
    padding: 15px;
    font-size: 1.5em;
}

.container-login{
    position: absolute;
    height:100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
     z-index: 999;
}

.form-login
{
    padding: 15px;
}

.current
{
    background-color: #97FF8F;
}*/

#whiteContainer #whitehand.cantplay .whiteCard
{
    background-color: #787878;
    cursor: not-allowed;
}